section.section.reviews.clearfix
    .say-about-me
        .say-about-me__title-block
            .say-about-me__title ЧТО ОБО МНЕ
            .say-about-me__under-title ГОВОРЯТ
            svg.say-about-me__bg
                use(xlink:href=`assets/img/sprite.svg#about_header`)

    //- ОТЗЫВЫ
    .reviews-row
        .reviews-row__left-col
            .reviews-row__quotes
                i(class='fa fa-quote-left' aria-hidden='true')
            .reviews-row__text
               | Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
            .reviews-row__human
                .reviews-row__human-photo
                    img.reviews-row__human-photo_dima(src='assets/img/content/dima.jpg' alt='Ковальчук Дмитрий')
                .reviews-row__human-detail
                    p.reviews__human-detail_name Ковальчук Дмитрий
                    p.reviews__human-detail_about основатель Loftschool
        .reviews-row__right-col
            .reviews-row__quotes
                i(class='fa fa-quote-left' aria-hidden='true')
            .reviews-row__text
               | Этот код выдержет любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
            .reviews-row__human
                .reviews-row__human-photo
                    img.reviews-row__human-photo_dima(src='assets/img/content/zar.jpg' alt='Зар Захаров')
                .reviews-row__human-detail
                    p.reviews-row__human-detail_name Зар Захаров
                    p.reviews-row__human-detail_about преподаватель
        //- ФОРМА ОБРАТНОЙ СВЯЗИ
    .feedback-row
        .feedback-row__wrapp-blur
            .feedback-row__blur
        .feedback-row__wrapp-forms
            .form__title СВЯЗАТЬСЯ СО МНОЙ
            form.feedback__form(action="#" class='write-me' method='#' id="form-validation")
                .message-validation.message-validation_error
                //-Hidden Required Fields
                input(type="hidden" name="project_name" value="Portfolio")
                input(type="hidden" name="admin_email" value="stnslvmukhin@gmail.com")
                input(type="hidden" name="form_subject" value="Form work")
                //-END Hidden Required Fields
                input.form__style.form__style_name(type="text" name="form_name" placeholder="Имя" )
                input.form__style.form__style_email(type="email" name='form_email' placeholder="Email" )
                textarea.form__style.form__style_message(rows='6', cols='50', name='form_subject', placeholder='Ваше сообщение')
                .form__btn.clearfix
                    input.form-btn__item.form-btn__item_submit(name='submit', type='submit', value='Отправить')
                    input.form-btn__item.form-btn__item_clear(name='clear', type='reset', value='Очистить')
    //- КОНЕЦ ФОРМЫ
    .page-up
        a(href='#' class='page-up__link')
            svg.page-up__chevron-up_bg
                use(xlink:href=`assets/img/sprite.svg#portf_arrow_up`)
