.page-form
    p.say-about-me__title.say-about-me__title_hyphen ЧТО ОБО МНЕ
    p.say-about-me__title ГОВОРЯТ
    span.say-about-me__title-img
        svg.feedback-about__bg
            use(xlink:href=`assets/img/sprite.svg#about_header`)
        span.say-about-me__title__img-wrapper
            //img.say-about-me__bg(src='assets/img/bground/portfolio_mountains-sea_1800.png' alt='text_about')
    //- ОТЗЫВЫ
    .reviews.clearfix
        .reviews__left-wrapper
            .reviews__quotes
                i(class='fa fa-quote-left' aria-hidden='true')
            p.reviews__quote__text.
                Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
            .reviews__human.clearfix
                .reviews__human__photo
                    img.reviews__human__photo_dima(src='assets/img/content/dima.png' alt='Ковальчук Дмитрий')
                .reviews__human__detail
                    p.reviews__human__name Ковальчук Дмитрий
                    p.reviews__human__about основатель Loftschool
        .reviews__left-wrapper
            .reviews__quotes
                i(class='fa fa-quote-left' aria-hidden='true')
            p.reviews__quote__text.
                Этот код выдержет любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
            .reviews__human.clearfix
                .reviews__human__photo
                    img.reviews__human__photo_dima(src='assets/img/content/vova.png' alt='Владимир Сабанцев')
                .reviews__human__detail
                    p.reviews__human__name Владимир Сабанцев
                    p.reviews__human__about преподаватель
        //- ФОРМА ОБРАТНОЙ СВЯЗИ
    .feedback
        .feedback__wrapp-blur
            .feedback__blur
        .feedback__wrapp-forms
            .feedback__title СВЯЗАТЬСЯ СО МНОЙ
            form.feedback__form(action="#" class='write-me' method='#' id="form-validation")
                .message-validation.message-validation_error
                //-Hidden Required Fields
                input(type="hidden" name="project_name" value="Portfolio")
                input(type="hidden" name="admin_email" value="stnslvmukhin@gmail.com")
                input(type="hidden" name="form_subject" value="Form work")
                //-END Hidden Required Fields
                input.form__style.form__style_name(type="text" name="form_name" placeholder="Имя" )
                input.form__style.form__style_email(type="email" name='form_email' placeholder="Email" )
                textarea.form__style.form__style_message(rows='6', cols='50', name='form_subject', placeholder='Ваше сообщение')
                .form__btn.clearfix
                    input.form__btn__item.form__btn__item_submit(name='submit', type='submit', value='Отправить')
                    input.form__btn__item.form__btn__item_clear(name='clear', type='reset', value='Очистить')
    //- КОНЕЦ ФОРМЫ
    a(href='#' class='page-up page-up_arrow')
        i(class='fa fa-chevron-up' aria-hidden='true')
