footer.page-footer
    .footer-nav_wrapper.clearfix
        ul.footer-nav
            li.footer-nav__item
                a(href="portfolio.html" class='footer-nav__link') Мои работы
            li.footer-nav__item
                a(href="about.html" class='footer-nav__link') Обо мне
            li.footer-nav__item
                a(href="blog.html" class='footer-nav__link') Блог
            li.footer-nav__item
                a(href="index.html" class='footer-nav__link') Авторизация
        ul.footer-social
            include ../components/footer_socials
    .footer__about_wrapper.clearfix
        p.footer__about.
            Я веб разработчик из Одинцово и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.


