header.page-header.clearfix
    .page-header__container
        ul.social
            include ../components/header_socials
    .about-developer
        .about-developer__img-wrapper
            img.about-developer__avatar(src='assets/img/avatar/iam.jpeg' alt='Станислав Мухин')
        h1.about-developer__name Стнаислав Мухин
        p.about-developer__info Личный сайт веб разработчика
    .page-header__triangle
        a(href='#' class='about-developer__link about-developer__link_arrow')
            i(class='angle-down' aria-hidden='true')
        svg.triangle(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 1000 85', preserveaspectratio='none')
            polygon.triangle-left(points='0,0   0,86   500.8,86   500.8,84.5')
            polygon.triangle-right(points='1000,0   1000,86   500,86   500,84.5')
    .portfolio_img

