main.page-main.clearfix
    .about-me
        .about-me__title ОБО МНЕ
            span.about-me__title-img
                img.about-me__bg(src='#')
        .about-me__detail
            .about-me__detail-img
                img.about-me__detail-avatar(src='assets/img/avatar/iam.jpeg' alt='Станислав Мухин')
            p.about-me__detail-title КТО Я
            p.about-me__detail-text.
                Я веб разработчик из Одинцово.
            p.about-me__detail-text.
                Сайт сделан в рамках обучения в школе LoftSchool

    .skills
        p.skills__title.skills__title_hyphen ЧЕМ Я МОГУ БЫТЬ
        p.skills__title ВАМ ПОЛЕЗЕН
        P.skills__description.
            Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачина Backend.
        include ../components/skills