section.section.works-head
    .triangle-section
        svg.triangle.triangle-left(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 1000 110', preserveaspectratio='none')
            polygon(points='0,0   0,110   1000, 110')
        svg.triangle.triangle-right(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 1000 110', preserveaspectratio='none')
            polygon(points='0,110   1000,110   1000,0')
    .section-title
        | МОИ РАБОТЫ
        svg.works-head__bg
            use(xlink:href=`assets/img/sprite.svg#works_header`)

section.section.works
    .works__content
        .works__left
            .works-slider__content
                .works-slider__content-wrapper
                    .works-slider__display
                        img(src="" alt="").works-slider__display-pic
                    .works-slider__item-about
                        .works__subtitle
                            .subtitle
                        .works__content-desc
                        .works__content-btn
                            a(href="#").works__content-view Посмотреть сайт
                                i.works__content-view-icon
        .works__right
            .works-slider
                .works-slider__controls
                    a(href="#").works-slider__control-btn.works-slider__control-btn_left
                        ul.works-slider__control-list
                            li(data-full="assets/img/works/work-1.png" data-title="Агентсво интернет решений \"ITLoft\""
                            data-skills="node" data-link="http://itloft.ru/").works-slider__control-item
                                img(src="assets/img/works/work-1.png").works-slider___control-img
                            li(data-full="assets/img/works/work-2.png" data-title="Школа онлай-образования \"LoftSchool\""
                            data-skills="html5, CSS3, javascript, php" data-link="http://loftschool.com/").works-slider__control-item
                                img(src="assets/img/works/work-2.png").works-slider___control-img
                            li(data-full="assets/img/works/work-3.png" data-title="Портал обучающих уроков \"LoftBlog\""
                            data-skills="Ruby on Rails, javascript, RESTful" data-link="http://loftblog.ru/").works-slider__control-item
                                img(src="assets/img/works/work-3.png").works-slider___control-img
                            li(data-full="assets/img/works/work-4.png" data-title="Сайт \"Атма йога\"" data-skills="UX, design, seo"
                            data-link="http://atmayoga.ru/").works-slider__control-item
                                img(src="assets/img/works/work-4.png").works-slider___control-img
                    a(href="#").works-slider__control-btn.works-slider__control-btn_right