// colors

$light_green: #00bfa5;
$dark_green: #009688;
$light_grey: #455a64;
$dark_grey: #373e42;
$red: #e44845;
$grey: #53595d;
$white: #fff;
$faf8f0: #faf8f0;
$f0efe9: #f0efe9;
$triangle_right: #eeebdf;
$triangle_left: #efeee9;

// setups
@import 'main/fonts.scss';
@import 'main/mixins.scss';
@import 'main/common.scss';
@import 'main/layout.scss';

// partials
@import 'parts/feedback.scss';
@import 'parts/footer.scss';
@import 'parts/hero.scss';
@import 'parts/user.scss';
@import 'parts/main_about.scss';
@import 'parts/works.scss';

// pages
@import 'pages/welcome.scss';

// components
@import 'components/contacts.scss';
@import 'components/header_socials.scss';
@import 'components/menu.scss';
@import 'components/portfolio_slider.scss';
@import 'components/preloader.scss';
@import 'components/skills.scss';