-
	var icons = [
	{
	title:'vk',
	link:'#'
	},
	{
	title:'github',
	link:'#'
	}
	]

each icon in icons
	li.footer-social__item
		a(href=icon.link class='footer-social__link')
			svg.footer-social_social-icon
				use(xlink:href=`assets/img/sprite.svg#`+icon.title+`_round`)