//.slider__wrapper.clearfix
//    .slider.clearfix
//        .slider__detail
//            .slider__detail__wrapper
//                p.slider__detail__title САЙТ ШКОЛЫ ОНЛАЙН ОБУЧЕНИЯ
//                p.slider__detail__technologies HTML, CSS, JAVASCRIPT
//                .slider__detail__btn-view
//                    a(href="#" class='btn-view__link')
//                        i(class='fa fa-link' aria-hidden='true')
//                        | Посмотреть сайт
//        .slider__portfolio
//            .slider__portfolio__img
//                img.slider__portfolio__img_item(src='assets/img/content/portfolio.png' alt='images portfolio')
//            a(href="#!" class='slider__arrow slider__arrow_left')
//                i(class='fa fa-chevron-left' aria-hidden='true')
//        a(href="#!" class='slider__arrow slider__arrow_right')
//            i(class='fa fa-chevron-right' aria-hidden='true')
//        ul.slider__list
//            li.slider__list__btn.slider__list__btn_one
//                a(href="#!" class='slider__list__link slider__list__link_one') .
//            li.slider__list__btn.slider__list__btn_two
//                a(href="#!" class='slider__list__link slider__list__link_two') .
//            li.slider__list__btn.slider__list__btn_three
//                a(href="#!" class='slider__list__link slider__list__link_tree') .
//            li.slider__list__btn.slider__list__btn_four
//                a(href="#!" class='slider__list__link slider__list__link_four') .