.triangle{
  &-left{
    left: 0;
    fill:$white;
  }
  &-right{
    right: 0;
    fill:$white;
  }
}
.slider {
  width: 100%;
  height: 100%;
  &__view{
    width:100%;
    height: 70%;
    padding: 36px 300px;
    &_pic{
      height: 450px;
    }
  }
  &__arrow{
    width: 100%;
    height: 30%;
    &_left{
      float:left;
      width: 50%;
      height: 100%;
      background: #f0efe9;
    }
    &_right{
      float: right;;
      width: 50%;
      height: 100%;
      background: #faf8f0;
    }
    &-wrapper-left{
      height: 100%;
      background: url("../../assets/img/works/work-2.png");
    }
    &-wrapper-right{
      height: 100%;
      background: url("../../assets/img/works/work-3.png");
    }
  }
  &__shadow{
    height: 100%;
    background: black;
    opacity: 0.2;
    &:hover{
      opacity: 0.4;
    }
  }
}
.arrow-chevron{
  fill: #f0efe9;
  width: 50px;
  position: relative;
  left: 233px;
  top: 37px;
}
.my-works-blocks{
  float: left;
  position: relative;
  width: 100%;
  height: 750px;
  background: #f0efe9;
  &__left{
    width: 50%;
    height: 750px;
    float: left;
    display: table;
  }
  &__right{
    background: #eeebdf;
    width: 50%;
    height: 750px;
    float: left;
  }
}
.my-works {
  position: relative;
  width: 100%;
  height: 750px;
  &__title {
    float: left;
    position: relative;
    width: 100%;
    padding: 53px 0;
    text-align: center;
    color: #373e42;
    font-size: 63px;
    font-family: BERNIERRegular-Regular;
    &:before,
    &:after {
      content: '-';
      color: #000;
      opacity: 0.3;
    }
    &-img {
      position: absolute;
      left: 50%;
      top: 0;
      margin-left: -253px;
    }
  }
}
.works__bg{
  opacity: 0.1;
  position: absolute;
  left: -115px;
  width: 751px;
}
.school {
  display: table-cell;
  vertical-align: middle;
  &:before{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  &__title_hyphen {
    margin-bottom: 16px;
    &:before,
    &:after {
      content: ' - ';
      color: #000;
      opacity: 0.3;
      font-size: 35px;
    }
  }
  &__title {
    font-family: BERNIERRegular-Regular;
    font-size: 35px;
    color: #455a64;
    text-align: center;
    line-height: 25px;
  }
  &__description {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #455a64;
    text-align: center;
    margin: 35px 0;
  }
  &__text{
    color: #00bfa5;
    font-size: 20px;
  }
  &__botton{
    background: #00bfa5;
    width: 200px;
    height: 50px;
    display: table;
    margin: auto;
    text-align: center;
    border-radius: 10px;

  }
  &__link{
    text-decoration: none;
    @include roboto(medium);
    color: #efeee9;
    font-size: 16px;
    display: table-cell;
    vertical-align: middle;
    padding-right: 1rem;
    &:hover {
      background: rgba(#268b8b, 0.8);
      border-radius: 10px;
    }
  }
  &__botton-img{
    width: 20px;
    height: 20px;
    float: left;
    fill:#efeee9;
    margin-left: 1rem;
  }
}
.school hr{
  border: none;
  background-color: #00bfa5;
  color: #00bfa5;
  height: 2px;
  width: 350px;
  opacity: .3;
}