.page-contact {
  width: 100%;
  min-height: 1074px;
  position: relative;
  margin-bottom: -140.5px;
  //background: url() no-repeat center; //TODO
  background-size: cover;
}
.google-map {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.social-contants{
  float:left;
  margin-right: 20px;
}

.contact-list {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -145px;
  margin-left: -190px;
  background: rgba(252, 252, 252, 0.9);
  border-radius: 4px;
  width: 410px;
  min-height: 290px;
  padding-bottom: 13px;
  text-align: center;
  &__title {
    @include title(35px,35px 80px);
    margin-bottom: -8px;
  }
  &__detail {
    font-size: 0;
    padding: 0 0 0 40px;
    text-align: left;
    &-item {
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      margin-bottom: 26px;
      font-size: 22px;
      color: #455a64;
      margin-right: 10px;
      &:hover{
        .social__icon{
          opacity: 1 !important;
        }
      }
    }
  }
}
