.page-contact {
  width: 100%;
  min-height: 1074px;
  position: relative;
  margin-bottom: -140.5px;
  //background: url() no-repeat center; //TODO
  background-size: cover;
}
.social-contants{
  float:left;
  margin-right: 20px;
}
.contact-list {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -145px;
  margin-left: -190px;
  background: rgba(252, 252, 252, 0.9);
  border-radius: 4px;
  width: 410px;
  min-height: 290px;
  padding-bottom: 13px;
  &__title {
    padding: 36px 0 38px 0;
    font-family: BERNIERRegular-Regular;
    font-size: 35px;
    line-height: 27px;
    color: #373e42;
    text-align: center;
    &:before,
    &:after {
      content: ' - ';
      color: #000;
      opacity: 0.3;
      font-size: 35px;
    }
  }
  &__detail {
    font-size: 0;
    padding: 0 0 0 40px;
    &-item {
      font-size: 16px;
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      color: #455a64;
      margin-bottom: 26px;
      &-img {
        font-size: 25px;
        color: #00bea4;
        margin-right: 10px;
      }
    }
  }
}
