.social {
  float: left;
  padding: 28px 0 0 30px;
  font-size: 0;
  position:absolute;
  left: 0px;
  z-index:99999;
  &__item {
    display: inline-block;
    vertical-align: top;
  }
  &__link {
    margin-right: 31px;
    font-size: 26px;
    color: rgba(252, 252, 252, 0.6);
  }
  &__icon {
    width:40px;
    height:40px;
    fill:$white;
    opacity: 0.7;
    transition-duration: .3s;
    &:hover{
      opacity:1;
      transition-duration: .3s;
    }
    &-contacts{
      fill:$light_green;
    }
  }
  &__icon-front {
    width:40px;
    height:40px;
    fill:$light_green;
    &:hover{
      fill:$dark_green;
    }
  }
}
