extends ../layouts/layout



block variables
    - var title = 'Обо мне'

    //разбито все на блоки, чтобы можно было подключить каждый по отдельности
    // подключаю шапку

block header
    include ../parts/header_about

    // подключаю основную часть
block main
    include ../parts/main_about

    // подключаю блок с контактами
block content
    include ../components/contacts

    // подключаю подвал
block footer
    include ../parts/footer