extends ../layouts/layout

block variables
    - var title = 'Мои работы'

block content
    .wrapper
        include ../parts/hero
        include ../parts/works
        include ../parts/feedback
        include ../parts/footer