extends ../layouts/layout

block variables
    - var title = 'Мои работы'

block header
    include ../parts/hero

block main
    include ../parts/works

block content
    include ../parts/feedback

block footer
    include ../parts/footer