@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic');

@mixin roboto($style: regular) {
  @if $style == light {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }

  @if $style == regular {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  }

  @if $style == medium {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
  }

  @if $style == bold {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
  }
}

@font-face {
  font-family: 'BERNIERRegular-Regular';
  src: url('../fonts/BERNIERRegular-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BERNIERRegular-Regular.otf') format('opentype'),
  url('../fonts/BERNIERRegular-Regular.woff') format('woff'),
  url('../fonts/BERNIERRegular-Regular.ttf') format('truetype'),
  url('../fonts/BERNIERRegular-Regular.svg#BERNIERRegular-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin bernier{
  font-family: 'BERNIERRegular-Regular';
}